body {
    background: #E5E5E5;
}

table thead tr th {
    vertical-align: middle;
    padding: .85rem;
}

.main-container {
    padding: 25px;
    background: #FFFFFF;
    box-shadow: 0px -1px 15px rgb(0 0 0 / 2%), 0px 4px 15px rgb(0 0 0 / 8%);
}

.card-image {
    height: 18rem;
    cursor: pointer;
}

.card-image:hover {
    opacity: 0.8;
}